async-generator==1.10
azure-ai-formrecognizer==3.0.0
azure-ai-textanalytics==5.1.0b3
azure-cognitiveservices-vision-computervision==0.8.0
azure-cognitiveservices-vision-customvision==3.1.0
azure-common==1.1.26
azure-core==1.12.0
azure-mgmt-core==1.2.2
azure-mgmt-storage==17.0.0
azure-storage-blob==12.8.0
date-extractor==5.1.5
datefinder==0.7.1
dateparser==1.0.0
image==1.5.33
MarkupSafe==2.0.1
opencv-python==4.5.1.48
parse==1.19.0
parso==0.8.1
pathspec==0.9.0
PDF-Layout-Scanner==1.3.3
pdf2image==1.16.0
pdfminer.six==20201018
pdfplumber==0.5.27
Pillow==8.2.0
pipenv==2021.5.29
python-dateutil==2.8.1
python-dotenv==0.19.2
python-pdfbox==0.1.8
regex==2021.4.4
requests==2.25.1
requests-html==0.10.0
requests-oauthlib==1.3.0
urllib3==1.26.4
virtualenv==20.4.7
virtualenv-clone==0.5.4
